body{
margin:0;
padding:0;
background:#f5f7fb;
font-family:Arial;
}

.login-box{
width:90%;
max-width:350px;
background:white;
margin:100px auto;
padding:30px;
border-radius:20px;
box-shadow:0 0 20px rgba(0,0,0,0.1);
text-align:center;
}

h1{
color:#0099ff;
font-size:28px;
}

.welcome{
color:gray;
margin-bottom:30px;
}

input{
width:100%;
padding:15px;
margin-bottom:15px;
border:none;
background:#f1f1f1;
border-radius:10px;
font-size:16px;
}

button{
width:100%;
padding:15px;
border:none;
background:#0099ff;
color:white;
border-radius:10px;
font-size:16px;
font-weight:bold;
}

a{
display:block;
margin-top:20px;
text-decoration:none;
color:#0099ff;
}
